### Pandas

In [ ]:
### pip install pandas
## pip list

In [2]:
import pandas as pd

In [2]:
l = [1,2,3,5,6]
pd_sr = pd.Series(l)
print(pd_sr)

0    1
1    2
2    3
3    5
4    6
dtype: int64

In [4]:
l = [('1',1),('2',2),('3',3),('4',4),('5',5)]
sr = pd.Series(l, index=['a','b','c','d','e'])
print(sr)

a    (1, 1)
b    (2, 2)
c    (3, 3)
d    (4, 4)
e    (5, 5)
dtype: object

In [5]:
d = {"ram":15,"shyam":14,"gita":10}
sr = pd.Series(d)
print(sr)

ram      15
shyam    14
gita     10
dtype: int64

In [ ]:
#

In [6]:
## 2-d
##Data frame
d = [{"ram":15,"shyam":14,"gita":10},{"ram":15,"shyam":14,"gita":10}]
df=pd.DataFrame(d)
print(df)

   ram  shyam  gita
0   15     14    10
1   15     14    10

In [11]:
l=[["sita",12],["gita",10],["ram",15]]
df = pd.DataFrame(l,columns=["Name","Age"])
print(df)

   Name  Age
0  sita   12
1  gita   10
2   ram   15

In [16]:
l=[["sita",12],["gita",10],["ram",15]]
df = pd.DataFrame(l,columns=["Name","Age"])
print(df.head(2))

   Name  Age
0  sita   12
1  gita   10

In [ ]:
l=[["sita",12],["gita",10],["ram",15]]
df = pd.DataFrame(l,columns=["Name","Age"])
print(df.head(2)["Age"])

In [9]:
l = {"Name":["gita","sita"],"Age":[1,2]}
df = pd.DataFrame(l,columns=["Name","Age"])
print(df)

   Name  Age
0  gita    1
1  sita    2

In [41]:
### reading csv file
file = pd.read_csv(r"C:\Users\lenovo\Desktop\data.csv")
print(file)

          ITEM  QUANTITY   RATE   AMOUNT
0      CABINET        40   2356    94240
1          DVD        45   4000   180000
2          HDD        20   4523    90460
3          HDD        36   8923   321228
4          HDD        63   2568   161784
5   KEY BOARD         36   1500    54000
6   KEYV BOARD        78   1295   101010
7          LCD        17   2510    42670
8          LCD        45   2563   115335
9          LCD        78  12000   936000
10         LED        45  98000  4410000
11         LED        55   5000   275000
12      MOUSE         49    500    24500
13      MOUSE         71   7854   557634
14        RAM         12   8000    96000
15        RAM         24   4710   113040
16        RAM         25   5000   125000
17        RAM         89   1204   107156
18         UPS        19   4895    93005

In [8]:

### .loc method
file = pd.read_csv("../data.csv")  ##  another method to write path of file
print(file.head(10))

         ITEM  QUANTITY   RATE  AMOUNT
0     CABINET        40   2356   94240
1         DVD        45   4000  180000
2         HDD        20   4523   90460
3         HDD        36   8923  321228
4         HDD        63   2568  161784
5  KEY BOARD         36   1500   54000
6  KEYV BOARD        78   1295  101010
7         LCD        17   2510   42670
8         LCD        45   2563  115335
9         LCD        78  12000  936000

In [9]:
file = pd.read_csv("../data.csv")  
print(file.head(10).loc[4:6])

         ITEM  QUANTITY  RATE  AMOUNT
4         HDD        63  2568  161784
5  KEY BOARD         36  1500   54000
6  KEYV BOARD        78  1295  101010

In [17]:
file = pd.read_csv("../data.csv")  
print(file.loc[[4,8,10]])

   ITEM  QUANTITY   RATE   AMOUNT
4   HDD        63   2568   161784
8   LCD        45   2563   115335
10  LED        45  98000  4410000

In [12]:
file = pd.read_csv("../data.csv")  
print(file.loc[4:6,['ITEM',"RATE"]])

         ITEM  RATE
4         HDD  2568
5  KEY BOARD   1500
6  KEYV BOARD  1295

In [13]:
### COLUMN NAMES FIND
print(file.columns)

Index(['ITEM', 'QUANTITY', 'RATE', 'AMOUNT'], dtype='object')

In [21]:
## iloc method indexing
print(file.head())

## pass indexin row aur column
print(file.iloc[0,0])

      ITEM  QUANTITY  RATE  AMOUNT
0  CABINET        40  2356   94240
1      DVD        45  4000  180000
2      HDD        20  4523   90460
3      HDD        36  8923  321228
4      HDD        63  2568  161784
CABINET

In [25]:
### slicing of row and column in ilock method
print(file.iloc[0:5,0:3])

      ITEM  QUANTITY  RATE
0  CABINET        40  2356
1      DVD        45  4000
2      HDD        20  4523
3      HDD        36  8923
4      HDD        63  2568

In [26]:
print(file.iloc[[0,3,5],[0,1,2]])

         ITEM  QUANTITY  RATE
0     CABINET        40  2356
3         HDD        36  8923
5  KEY BOARD         36  1500

In [28]:
### describe method
print(file.head().describe())

        QUANTITY         RATE         AMOUNT
count   5.000000     5.000000       5.000000
mean   40.800000  4474.000000  169542.400000
std    15.546704  2652.330956   93678.376442
min    20.000000  2356.000000   90460.000000
25%    36.000000  2568.000000   94240.000000
50%    40.000000  4000.000000  161784.000000
75%    45.000000  4523.000000  180000.000000
max    63.000000  8923.000000  321228.000000

In [9]:
print(file.head().describe().loc['mean']) ## access any thing

NameError: name 'file' is not defined

In [30]:
### apply method
l = [{"ram":15,"shyam":14,"gita":10},{"ram":15,"shyam":14,"gita":10}]
df = pd.DataFrame(l)
print(df)
def fun(val):
    return val+2
newdf = df.apply(fun)
print(newdf)

   ram  shyam  gita
0   15     14    10
1   15     14    10
   ram  shyam  gita
0   17     16    12
1   17     16    12

In [31]:
l = [{"ram":15,"shyam":14,"gita":10},{"ram":15,"shyam":14,"gita":10}]
df = pd.DataFrame(l)
print(df)

newdf = df.apply(lambda val:val+2)
print(newdf)

   ram  shyam  gita
0   15     14    10
1   15     14    10
   ram  shyam  gita
0   17     16    12
1   17     16    12

In [32]:
### aggregate function (## alternate of describe method)
file.aggregate(['min','max'])

        ITEM  QUANTITY   RATE   AMOUNT
min  CABINET        12    500    24500
max      UPS        89  98000  4410000

In [37]:
file.aggregate({'QUANTITY':['min','max'],'RATE':['mean']})

      QUANTITY         RATE
min       12.0          NaN
max       89.0          NaN
mean       NaN  9336.894737

In [38]:
print(file.head())

      ITEM  QUANTITY  RATE  AMOUNT
0  CABINET        40  2356   94240
1      DVD        45  4000  180000
2      HDD        20  4523   90460
3      HDD        36  8923  321228
4      HDD        63  2568  161784

In [42]:
### drop method to delete column (if axis = 1 then delete column and if axis =0 then delete row
file.drop(['RATE'],axis =1,inplace=True)
print(file.head())

      ITEM  QUANTITY  AMOUNT
0  CABINET        40   94240
1      DVD        45  180000
2      HDD        20   90460
3      HDD        36  321228
4      HDD        63  161784

In [43]:
### insert for column
l = [{"ram":15,"shyam":14,"gita":10},{"ram":15,"shyam":14,"gita":10}]
df = pd.DataFrame(l)
print(df)
df.insert(0,"sum",[1,2])
print(df)

   ram  shyam  gita
0   15     14    10
1   15     14    10
   sum  ram  shyam  gita
0    1   15     14    10
1    2   15     14    10

In [44]:
newfile=file.head()
newfile.insert(3,"sum",[1,2,3,4,5])
print(newfile)

      ITEM  QUANTITY  AMOUNT  sum
0  CABINET        40   94240    1
1      DVD        45  180000    2
2      HDD        20   90460    3
3      HDD        36  321228    4
4      HDD        63  161784    5

In [ ]:
## insert through loc method
newData = [1,2,3,4,5]

In [46]:
### sort values
newfile=file.head(10)
newfile.sort_values(['QUANTITY'],axis=0,inplace=True)
print(newfile)

         ITEM  QUANTITY  AMOUNT
7         LCD        17   42670
2         HDD        20   90460
3         HDD        36  321228
5  KEY BOARD         36   54000
0     CABINET        40   94240
1         DVD        45  180000
8         LCD        45  115335
4         HDD        63  161784
6  KEYV BOARD        78  101010
9         LCD        78  936000

C:\Users\lenovo\AppData\Local\Temp\ipykernel_6276\1965546069.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newfile.sort_values(['QUANTITY'],axis=0,inplace=True)

In [ ]:
command to install pip = pip install openyxl

In [53]:
### read excel file
ex = pd.ExcelFile("../excel.xlsx")
print(ex.sheet_names)
df=ex.parse('Sheet2')
print(df.head())

['Sheet1', 'Sheet2']
      ITEM  QUANTITY  RATE  AMOUNT
0  CABINET        40  2356   94240
1      DVD        45  4000  180000
2      HDD        20  4523   90460
3      HDD        36  8923  321228
4      HDD        63  2568  161784

In [6]:
ex = pd.read_excel("../book.xlsx")
print(ex.head())

   name   class  r.no  phone
0   kaif      6    12    8956
1  hamza      9    15    2503
2  abhay      3    10      69
3    ram      8     3    5692
4  shyam      5    45     456

In [73]:
s = ex.iloc[:,0]
print(s)

0     kaif
1    hamza
2    abhay
3      ram
4    shyam
Name: name , dtype: object

In [8]:
s = ex.iloc[:,0]
print(s)
s['S']=ex['name'].str.startswith("S")
print(s.loc[:,['0','S']])

0     kaif
1    hamza
2    abhay
3      ram
4    shyam
Name: name , dtype: object

KeyError: 'name'

In [81]:
l = [{"ram":15,"shyam":14,"gita":10},{"ram":15,"shyam":14,"gita":10}]
s=pd.DataFrame(l)
writer = pd.ExcelWriter('pandasEx.xlsx' ,
                        engine = 'xlsxwriter')
s.to_excel(writer, sheet_name ="Mysheet")

In [11]:
#### merge two dataFrame
### inner join
df1 = pd.DataFrame( [{"ram":15,"shyam":14,"gita":12},{"ram":6,"shyam":19,"gita":10}])
df2 = pd.DataFrame( [{"rohan":10,"sohan":18,"gita":12},{"rohan":11,"sohan":17,"gita":12}])
print(df1)
print(df2)
m = pd.merge(df1,df2,on='gita',how='inner')
print(m)

   ram  shyam  gita
0   15     14    12
1    6     19    10
   rohan  sohan  gita
0     10     18    12
1     11     17    12
   ram  shyam  gita  rohan  sohan
0   15     14    12     10     18
1   15     14    12     11     17

In [13]:
### outer join
df1 = pd.DataFrame( [{"ram":15,"shyam":14,"gita":12},{"ram":6,"shyam":19,"gita":10}])
df2 = pd.DataFrame( [{"rohan":10,"sohan":18,"gita":12},{"rohan":11,"sohan":17,"gita":12}])
print(df1)
print(df2)
m = pd.merge(df1,df2,on='gita',how='outer')
print(m)

   ram  shyam  gita
0   15     14    12
1    6     19    10
   rohan  sohan  gita
0     10     18    12
1     11     17    12
   ram  shyam  gita  rohan  sohan
0    6     19    10    NaN    NaN
1   15     14    12   10.0   18.0
2   15     14    12   11.0   17.0

In [16]:
## right join
df1 = pd.DataFrame( [{"ram":15,"shyam":14,"gita":12},{"ram":6,"shyam":19,"gita":10}])
df2 = pd.DataFrame( [{"rohan":10,"sohan":18,"gita":12},{"rohan":11,"sohan":17,"gita":20}])
print(df1)
print(df2)
m = pd.merge(df1,df2,on='gita',how='right')
print(m)

   ram  shyam  gita
0   15     14    12
1    6     19    10
   rohan  sohan  gita
0     10     18    12
1     11     17    20
    ram  shyam  gita  rohan  sohan
0  15.0   14.0    12     10     18
1   NaN    NaN    20     11     17