In [2]:
print("hello world" )

hello world

In [3]:
# taking input in python 
a = int(input("enter an number ")) 
b = int(input("enter another number"))
print(a*b)

enter an number  8
enter another number 5

40

In [4]:
print(a)

1.333333333333333

In [5]:
a = 8/6*(4-8)//(5+9)*6
print(a)

-6.0

In [2]:
a = int(input("enter an number ")) 
b = int(input("enter another number"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

enter an number  8
enter another number 9

17
-1
72
0.8888888888888888
0
134217728

In [3]:
# find area of triangle
b = int(input("enter the breath ="))
h = int(input("enter the hieght ="))
print("are of triangle",1/2*b*h)

enter the breath = 7
enter the hieght = 8

are of triangle 28.0

In [4]:
b = int(input("enter the breath ="))
h = int(input("enter the hieght ="))
print("are of triangle",1//2*b*h)

enter the breath = 7
enter the hieght = 8

are of triangle 0

In [5]:
b = int(input("enter the breath ="))
h = int(input("enter the hieght ="))
print("are of triangle",b*h//2)

enter the breath = 7
enter the hieght = 8

are of triangle 28

In [6]:
# find simple interest 
p = int(input("enter the principal"))
r = int(input("enter the rate"))
t = int(input("enter the time"))
print("simple interest", p*r*t/100)

enter the principal 1800
enter the rate 5
enter the time 5

simple interest 450.0

In [8]:
a = '''welcome to coding blocks
         data analytics course
         '''
print(a)
#escape sequence 
b = "kaif\nganesh"
c = "kaif\tganesh"
print(b)
print(c)

welcome to coding blocks
         data analytics course

kaif
ganesh
kaif	ganesh

In [15]:
#if and else 
a = int(input("enter the no"))
if(a%3==0):
    print("multiple of three")
else:
    print("this is not a multiple of three")

enter the no 69

multiple of three

In [17]:
#mutiple condition of if and else 
a = int(input("enter the marks "))
if(a>=90):
    print("A+")
elif(a>=85):
    print("A")
elif(a>=75):
    print("B")
elif(a>=60):
    print("C")
else:
    print("Fail")

enter the marks  55

Fail

In [20]:
a = int(input("enter the no "))
b = int(input("enter the no "))
c = int(input("enter the no "))
if(a>=b and a>=c):
    print(a)
elif(b>=a and b>=c):
    print(b)
else:
    print(c)

enter the no  45
enter the no  78
enter the no  15

78

In [21]:
a = int(input("enter the no "))
b = int(input("enter the no "))
c = int(input("enter the no "))
if(a==b*c):
    print(a)
elif(b==a*c):
    print(b)
elif(c==b*a):
    print(c)
else:
    print("no anyone")

enter the no  8
enter the no  16
enter the no  2

16

In [22]:
# while loop statement 
count= int(input("enter the no "))
while(count<=10):
    print(count)
    count+=1

enter the no  1

1
2
3
4
5
6
7
8
9
10

In [23]:
count= int(input("enter the no "))
while(count<=20):
    print(count)
    count+=2

enter the no  2

2
4
6
8
10
12
14
16
18
20

In [4]:
n= int(input("enter the no "))
largest=0
count=1
while(count<=n):
    num=int(input("enter no"))
    if(largest <=num):
        largest = num
    count +=1
print(largest)

enter the no  5
enter no 45
enter no 48
enter no 47
enter no 45
enter no 47

48

In [2]:
n = int(input("enter no"))
count =0 
 while(n>0):
    count+=1
    n=n//10
print(count)

enter no 7845

4

In [14]:
# reverse loop 
n = int(input("Enter a number"))
rev=0
while(n>0):
    rem = n%10
    n = n//10
    rev = rev*10 + rem
print(rev)

Enter a number 8521

1258

In [9]:
a = 10
b = 20
#swap 1
c = a
a = b
b = c
print ( a,b)

20 10

In [15]:
a = 10
b = 20
# swap 2
a,b=b,a
print(a,b)

20 10

In [13]:
r=1
c=1
while(r<=4):
    c=1
    while(c<=r):
        print("*",end=" ")
        c+=1
    r+=1
    print()

*
* *
* * *
* * * *

In [4]:
r=1
c=1
while(r<=4):
    space = 1
    while(space <= 5-r):
        print("",end=" ")
        space+=1
    c=1
    while(c<=r):
        print("*",end=" ")
        c+=1
    r+=1
    print()

    *
   * *
  * * *
 * * * *

In [2]:
row = int(input("enter row no "))
for r in range(row):
    for c in range(row-r):
        print("*", end=" ")
    print()

enter row no  5

* * * * *
* * * *
* * *
* *
*

In [3]:
row = int(input("enter row no "))
for r in range(row):
    for s in range (r):
        print("" ,end=" ")
    for c in range(row-r):
        print("*", end=" ")
    print()

enter row no  5

* * * * *
 * * * *
  * * *
   * *
    *

In [3]:
# for loop
for r in range(6):
    for c in range(r):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
# prime no

In [8]:
n = input()
match(n):
   case "A":
       print("sec a")
   case "B":
        print("sec b")
   case _:
        print("sec c")

 A

sec a

In [17]:
# def prime no 
def IsPrime(n):
    for i in range(2,n):
        if(n%i ==0):
            return False
    return True


n = int(input("Enter a num"))
if(IsPrime(n)):
    print("Prime")
else:
    print("Not Prime")

Enter a num 13

Prime

In [9]:
def add(a,b,c=0):
    return a+b+c 
print(add(2,3))
print(add(5,8,4))

5
17

In [10]:
def largestofThree(a,b,c):
    if(a>=b and a>=c):
        return a
    elif(b>=a and b>=c):
        return b
    else:
        return c 
print(largestofThree(5,8,45))

45

In [18]:
# h.w 
def simpleinterest(p,r,t):
    return p*r*t/100
print(simpleinterest(1800,5,2))

180.0

In [19]:
# area of triangle
def triangle(b,h):
    return 1/2*b*h
print(triangle(5,8))

20.0

In [2]:
#multiple of three
def number(n):
    if(n%3==0):
        return True
    else:
        return False
n = int(input("enter no"))
if(number(n)):
    print("multiple of three")
else:
    print("not multiple of three")

enter no 45

multiple of three

In [18]:
# def mutiple condition of if and else 
def marks(n):
    if(n>=90):
        return A
    elif(n>=85):
        return B
    elif(n>=75):
        return C
    elif(n>=60):
        return D
    else:
        return False
print(marks(85))

NameError: name 'B' is not defined

In [19]:
#multipe of two num is = third num
def multiples(a,b,c):
    if(a==b*c):
       return a
    elif(b==a*c):
       return b
    elif(c==b*a):
       return c
    else:
         return False
print(multiples(2,8,4))

8

In [6]:
count = 1
for r in range(6):
    for c in range(r):
        print(count,end=" ")
        count+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [10]:
start = "A"
for r in range(6):
    for c in range(r):
        print(start,end=" ")
        start = chr(ord(start) + 1)
    print()

A
B C
D E F
G H I J
K L M N O

In [13]:
def isnegative(n) -> bool:
    return n<0
a = isnegative(5)
print(a)

False

In [14]:
# lambda function
a = lambda n: n%2==0
print(a(5))

False

In [15]:
mul = lambda a,b: a*b
print(mul(5,6))

30

In [4]:
#find nth fibonacii series 0,1,1,2,3,5,8,13 
def fib(n) ->int:
    a,b=0,1
    if n==1:
        return a
    elif n==2:
        return b
    for i in range(1,n):
        a,b = b,a+b
    return a
n = fib(5)
print(n)

3

In [18]:
##string

s ="____hello world____"    
print(s)
# print(s[0],s[-11])
# print(s[10],s[10])
# #s[0] ='a' does not support assignment
# s+="coding blocks"
# print(s)

# print(s.replace("coding blocks"," python"))
# print(s.count("l"))
# print(s.capitalize())
# print(s.upper())
print(s.strip("_"))
print(s.find("w"))

____hello world____
hello world
10

In [7]:
count = 1
for r in range(6):
    for c in range(r):
        print(count,end=" ")
        counnt+=1
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [8]:
row = int(input("enter no"))
count = 1
for r in range(row):
    for c in range(r):
        print(count,end=" ")
        count+=1
    print()

enter no 5

1
2 3
4 5 6
7 8 9 10

In [10]:
start = "A"
for r in range(5):
    for c in range(r):
        print(start,end=" ")
        start = chr(ord(start) + 1 )
    print()

A
B C
D E F
G H I J

In [14]:

add = lambda a,b: a+b
print(add(5,8))

13

In [16]:
isnegative = lambda n: n<0
print(isnegative(5))

False

In [27]:
 a = "_____mohd kaif____"
print(a)
print(len(a))
print(a[0],a[-9])
print(a[8],a[-1])
print(a.replace("mohd","ganesh"))
print(a)
print(a.capitalize())
print(a.count(a))
print(a.strip("_"))
print(a.count(a))

_____mohd kaif____
18
_
d _
_____ganesh kaif____
_____mohd kaif____
_____mohd kaif____
1
mohd kaif
1

NameError: name 'hamza' is not defined

In [2]:
##factorial
def fac(n):
    ans=1
    for i in range(1,n+1):
        ans*=i
    return ans
print(fac(8))

40320

In [ ]:
## string slicing
a b c d e f
0 1 2 3 4 5
-6-5-4-3-2-1

In [ ]:
s = "abcdef"
print(s[0:5])

In [8]:
s=input("enter strin")
stx=0
for edx in range(1,len(s)+1):
    print(s[stx:edx])

enter strin abcd

a
ab
abc
abcd

In [9]:
s=input("enter strin")
stx=1
for edx in range(2,len(s)+1):
    print(s[stx:edx])

enter strin abcd

b
bc
bcd

In [10]:
s=input("enter strin")
stx=2
for edx in range(3,len(s)+1):
    print(s[stx:edx])

enter strin abcd

c
cd

In [11]:
s=input("enter strin")
stx=3
for edx in range(4,len(s)+1):
    print(s[stx:edx])

enter strin abcd

d

In [18]:
s=input("enter strin")
for stx in range(0,len(s)):
    for edx in range(stx,len(s)+1):
        print(s[stx:edx])

enter strin abcd

a
ab
abc
abcd

b
bc
bcd

c
cd

d

In [26]:
# string even lenth 
a = input("enter string")
s=a.split(" ")
for i in s:
    if len(i)%2==0:
        print(i)

enter string ganesh lavkush sujal kaif

ganesh
kaif

In [25]:
#count character , digit , symbol 
def find_digits_chars_symbols(sample_str):
    char_count = 0
    digit_count = 0
    symbol_count = 0
    for char in sample_str:
        if char.isalpha():
            char_count+=1
        elif char.isdigit():
            digit_count+=1
        else:
            symbol_count+=1
    print("chars=",char_count,"digits=",digit_count,"symbols=",symbol_count)
sample_str = "ghhf5684&%$#45hj"
print("total count of chars,digits,symbols\n")
find_digits_chars_symbols(sample_str)

total count of chars,digits,symbols

chars= 6 digits= 6 symbols= 4

In [2]:
# count vowels in string

str = input("Enter String")
count = 0
for i in str:
    if( 
        i == "A"
        or i == "a"
        or i == "E"
        or i == "e"
        or i == "I"
        or i == "i"
        or i == "O"
        or i == "o"
        or i == "U"
        or i == "u"
    ):
        count+=1
print( "The total vowels are" , count)

Enter String MOHD KAIF

The total vowels are 3

In [3]:
s = "hello world coding" 
s = s.split(" ")
max_len = 0
ans=""
for i in s:
    if(len(i) > max_len):
        max_len =len(i)
        ans=i
print(max_len,ans)

6 coding

In [4]:
## reverse
a = "mohd kaif"
print(a[::-1])

fiak dhom

In [17]:
a ="ganesh"
s=a[:-3:-1] + a[0:4:1]
print(s)

hsgane

In [19]:
## list
l = [1,2,3]
print(l)
print(type(l))

[1, 2, 3]
<class 'list'>

In [20]:
l =[1,2,3]
for i in l:
    print(i)

1
2
3

In [21]:
l1=list((4,5,6,7))
print(l1)

[4, 5, 6, 7]

In [11]:
l = [1,2,3,4,5,6,7,8]
print(l[-1:-4:-1])
m="kaif"
print(m[-1:-3:-1])

[8, 7, 6]
fi

In [23]:
l = [1,2,3,4,5,6,7,8]
sq=[]
for i in l:
    sq.append(i**2)
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64]

In [25]:
l = [1,2,3,4,5,6,7,8,45,14]
largest=0
for i in l:
    if(largest<i):
        largest = i
print(largest)

45

In [26]:
def fib(n):
    l=[]
    a,b=0,1
    while n>0:
        l.append(a)
        a,b=b,a+b
        n-=1
    return l
l = fib(10)
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [1]:
l = [4,5,8,14,12,14,78]
l.append(9)
print(l)

[4, 5, 8, 14, 12, 14, 78, 9]

In [2]:
l = [4,5,8,14,12,14,78]
l1 = [5,6,3]
l.extend(l1)
print(l)

[4, 5, 8, 14, 12, 14, 78, 5, 6, 3]

In [4]:
l = [4,5,8,14,12,14,78]
l.insert(3,10)
print(l)

[4, 5, 8, 10, 14, 12, 14, 78]

In [7]:
l = [4,5,8,14,12,14,78]
l.remove(5)
print(l)

[4, 8, 14, 12, 14, 78]

In [9]:
l = [4,5,8,14,12,14,78]
l.pop()
print(l)

[4, 5, 8, 14, 12, 14]

In [10]:
l = [4,5,8,14,12,14,78]
l.clear()
print(l)

[]

In [12]:
l = [74,5,45,14,12,14,78]
l.sort()
print(l)

[5, 12, 14, 14, 45, 74, 78]

In [15]:
l = [74,5,45,14,12,14,78]
l.count(14)
print()

14

In [17]:
l = [74,5,45,14,12,14,78]
l.reverse()
print(l)

[78, 14, 12, 14, 45, 5, 74]

In [4]:
l=[-5,-8,-6,-2,-1,-3,-10,-12,-13,11,]
pos=[]
for i in l:
    pos.append(i*-1)
print(pos)

[5, 8, 6, 2, 1, 3, 10, 12, 13, -11]

In [5]:
l=[-5,-8,6,-2,-1,3,-10,-12,-13,11]
l1=[]
for i in l:
    if(i<0):
        l1.append(i)
print(l1)

[-5, -8, -2, -1, -10, -12, -13]

In [7]:
l=[-5,-8,6,-2,-1,3,-10,-12,-13,11]
l2=[]
for i in l:
    if(i>0):
        l2.append(i)
print(l2)

[6, 3, 11]

In [8]:
l=[-5,-8,6,-2,-1,3,-10,-12,-13,11]
l3=[]
for i in l:
    l3.append(abs(i))
print(l3)

[5, 8, 6, 2, 1, 3, 10, 12, 13, 11]

In [14]:
def isprime(n):
    if(n<=0):
        reeturn False
    for i in range(2,n):
          if(n%i==0):
              return False
    return True
l=[-5,-8,6,-2,-1,3,10,-12,13,11]
l3=[]
for i in l:
    if(isprime(i)):
         l3.append(i)
print(l3)

[-5, -8, -2, -1, 3, -12, -13, 11]

In [21]:
l = [1,2,3,4]
i=len(l)-1
a=l[i]
while(i>0):
    l[i]=l[i-1]
    i-=1
l[0]=a
print(l)

[4, 1, 2, 3]

In [22]:
l = [1,2,3,4,5,6,7,8]
left=0
right = len(l)-1
while(left<right):
    l[left],l[right]=l[right],l[left]
    left+=1
    right-=1
print(l)

[8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
###function to reverse a list 
def reverse (start,end,l):
    left=start
    right=end
    while(left<right):
        l[left],l[right] = l[right],l[left]
        left+=1
        right-=1
    return l
l = [1,2,3,4,5,6,7,8]
reverse(2,5,l)
print(l)

[1, 2, 6, 5, 4, 3, 7, 8]

In [13]:
def reverse (start,end,l):
    left=start
    right=end
    while(left<right):
        l[left],l[right] = l[right],l[left]
        left+=1
        right-=1
    return l
l = [1,2,3,4,5,6,7,8]
reverse(6,7,l)
reverse(0,5,l)
reverse(0,7,l)
print(l)

[7, 8, 1, 2, 3, 4, 5, 6]

In [25]:
## list comprehension
l=[i for i in range(5)]
print(l)

[0, 1, 2, 3, 4]

In [28]:
l =[1,2,3,4,5]
l1 = [i**2 for i in l]
print(l1)

[1, 4, 9, 16, 25]

In [29]:
l =[1,2,3,4,5]
l1 = [i**2 for i in l if i%2==0]
print(l1)

[4, 16]

In [31]:
x =[1,2,3]
y =[4,5,6]
for i in x:
    for j in y:
        print((i,j),end=" ")

(1, 4) (1, 5) (1, 6) (2, 4) (2, 5) (2, 6) (3, 4) (3, 5) (3, 6)

In [33]:
cord = [(i,j) for i in x for j in y ]
print(cord)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [5]:
## find lenth of list
l = [5,6,7,8,1,2,3,9,5,4]
print(len(l))

10

In [7]:
##maximum of two numbers
def maximum(a,b):
    if(a>b):
        return a
    else:
        return b
a = 45
b = 14
print(maximum(a,b))

45

In [8]:
##minimum of two numbers
def minimum(x,y):
    if(x<y):
        return x
    else:
        return y
x,y=80,11
print(minimum(x,y))

11

In [10]:
## check if element is exist in list
l = [5,8,9,12,10,14,7,2,10,14,15,13,17]
i = 2
if(i in l):
    print("exist")
else:
    print("not exist")

exist

In [11]:
## reversing a list
def reverse(l):
    new_list = l[::-1]
    return new_list
l = [5,2,3,6,9,8,7,4]
print(reverse(l))

[4, 7, 8, 9, 6, 3, 2, 5]

In [14]:
l =[5,4,3,2,8,9,7]
a =l.clear()
print(a)

None

In [16]:
l =[5,4,3,2,8,9,7]
a =l.copying()
print(a)

AttributeError: 'list' object has no attribute 'copying'

In [18]:
## count occurance of an element
l = [5,2,7,8,9,3,6,4,5,8,7,2,9,3,4,5]
e = 5
x = [i for i in l if i==e]
print("the element",e,"occurs",len(x),"times")

the element 5 occurs 3 times

In [3]:
## sum and average of list
l = [5,2,7,8,9,3,6,4,5,8,7,2,9,3,4,5]
count = 0
for i in l:
    count+=i
avg=count/len(l)
print("sum:",count)
print("average:",avg)

sum: 87
average: 5.4375

In [2]:
## multiply all elements in list
def multiply(l):
    mul =(1)
    for i in l:
        mul = mul*i
    return mul
l = [2,4,3]
print(multiply(l))

24

In [5]:
## smaalest
l=[5,4,7,8,2,3,9,10,12]
print(min(l))

2

In [7]:
## smallest
l=[5,4,7,8,2,3,9,10,12]
s = l.sort()
print(l[0])

2

In [9]:
## largest
l=[5,4,7,8,2,3,9,10,12,50,16,18]
l.sort()
print(l[-1])

50

In [10]:
## second largest 
l=[5,4,7,8,2,3,9,10,12,50,16,18]
l.sort()
print(l[-2])

18

In [15]:
## print even number in list
l=[5,4,7,8,2,3,9,10,12,50,16,18]
for i in l:
    if(i%2==0):
        print (i,end=" ")

4 8 2 10 12 50 16 18

In [18]:
## print odd no in list
l=[5,4,7,8,2,3,9,10,12,50,16,18]
for i in l:
    if(i%2 != 0):
        print (i,end=" ")

5 7 3 9

In [30]:
## coun even numbers 
l=[5,4,7,8,2,3,9,10,12,50,16,18]
count = 0
for i in l:
     if(i%2==0):
        count+=1
print("even count:",count)

even count: 8

In [34]:
## count even and odd no in list
l=[5,4,7,8,2,3,9,10,12,50,16,18]
count1 = 0
count2 =0
for i in l:
     if(i%2==0):
        count1+=1
     else:
          count2+=1
print("even count:",count1)
print("odd count:",count2)
print(len(l))

even count: 8
odd count: 4
12

SyntaxError: expected ':' (2394091906.py, line 1)

In [39]:
## positive number
l =[ -2,-9,5,-8,4,-3,6,2,4,-12,-13]
for i in l:
    if(i>0):
        print(i,end =" ")

5 4 6 2 4

In [40]:
## negetive number
l =[ -2,-9,5,-8,4,-3,6,2,4,-12,-13]
for i in l:
    if(i<0):
        print(i,end =" ")

-2 -9 -8 -3 -12 -13

In [41]:
### count positive and negative number i list
l =[ -2,-9,5,-8,4,-3,6,2,4,-12,-13]
pos = 0
neg = 0
for i in l:
    if(i>0):
        pos+=1
    else:
        neg+=1
print("positive count:",pos)
print("negative count:",neg)
print(len(l))

positive count: 5
negative count: 6
11

In [5]:
## remove multiple elements from list
l =[5,4,7,2,8,9,10,18,16,14,13,45,71]
for i in l:
    if(i%2==0):
        l.remove(i)
print("new list with remove even numbers",l)

new list with remove even numbers [5, 7, 8, 9, 18, 14, 13, 45, 71]

In [8]:
l =[5,4,7,2,8,9,10,18,16,14,13,45,71]
for i in l:
    if(i%2 !=0):
        l.remove(i)
print("new list with remove odd numbers",l)

new list with remove odd numbers [4, 2, 8, 10, 18, 16, 14, 45]

In [9]:
l =[5,-4,7,-2,8,-9,10,-18,16,14,13,45,-71]
for i in l:
    if(i>0):
        l.remove(i)
print("new list with remove positive numbers",l)

new list with remove positive numbers [-4, -2, -9, -18, 14, 45, -71]

In [1]:
## range positive no
s , e = 4,25
for i in range(s,e+1):
    if i >0:
        print(i,end=" ")

4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [9]:
## range negative no
s , e = 0,-33
for i in range(s,e-1):
    if i<0:
       print(i,end=" ")

In [11]:
def swap(l,p1,p2):
    l[p1],l[p2]=l[p2],l[p1]
    return l
l = [12,41,15,18]
p1,p2 = 1,3
print(swap(l,p1-1,p2-1))

[15, 41, 12, 18]

In [5]:
l =[5,-4,7,-2,8,-9,10,-18,16,14,13,45,-71]
for i in l:
    if(i>0):
        print("pos:",i,end = " ")
    else:
        print("neg:",i,end = " ")

pos: 5 neg: -4 pos: 7 neg: -2 pos: 8 neg: -9 pos: 10 neg: -18 pos: 16 pos: 14 pos: 13 pos: 45 neg: -71

In [8]:
p = input()
l= len(p) >8
c,s,d= False,False,False
##capital letter ascii 65-90
##small letter ascii 97-122
## digit asciii 48-57
for i in p:
    if(ord(i)>=97 and ord(i)<=122):
        s=True
    elif(ord(i)>=65 and ord(i)<=90):
        c = True
    elif(ord(i)>=48 and ord(i)<=57):
        d=True
if( l and c and s and d):
    print("Valid Password")
else:
    print("Not Valid")

 Kaif@1234

Valid Password

In [7]:
## tuple

l = (2,)
print(type(l))

<class 'tuple'>

In [9]:
t =(5,8,6,2,6)
for i in t:
    print(i)
print(type(t))

5
8
6
2
6
<class 'tuple'>

In [9]:
### unpackk
name,age,gen =( "kaif",19,"male")
print(name,age,gen)

kaif 19 male

In [12]:
### Dictionary

d = {"username":"shivam_55", "Password":"Kaif@123"}
print(d["username"])

shivam_55

In [ ]:
login_info[]
for i i range(2):

In [ ]:
fruit = {
      "banana":5,
    


}

In [1]:
# qube
l=[2,45,8,9,7]
list(map(lambda x: x**3,l))

[8, 91125, 512, 729, 343]

In [6]:
## keys access in dict
dict = { "user": "abc",
        "pass":12345,
       "name":"kaif"}
for i in dict.keys():
    print(i)

user
pass
name

In [3]:
## key and value acess in dict
dict = { "user": "abc",
        "pass":12345,
       "name":"kaif"}
for i in dict.keys():
    print(i,dict[i])

user abc
pass 12345
name kaif

In [7]:
dict = { "user": "abc",
        "pass":12345,
       "name":"kaif"}
a= dict.get("pass")
print(a)

12345

In [10]:
### 2 d list 
l =[[1,2,3],
   [4,5,6],
   [7,8,9],
   ]
print(l[0][1])
print(l[1][2])

2
6

In [11]:
l =[[1,2,3],
   [4,5,6],
   [7,8,9],
   ]
for i in l[0]:
    print(i)

1
2
3

In [12]:
l =[[1,2,3],
   [4,5,6],
   [7,8,9],
   ]
for i in l[0]:
    print(i)
for i in l[1]:
    print(i)
for i in l[2]:
    print(i)

1
2
3
4
5
6
7
8
9

In [16]:
l =[[1,2,3],
   [4,5,6],
   [7,8,9],
   ]
for j in range(len(l)):
    for i in l[j]:
        print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [17]:
l =[[1,2,3],
   [4,5,6],
   [7,8,9],
   ]
for j in range(len(l)):
    for i in l[j]:
        print(i,end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [18]:
l =[[1,2,3],
   [4,5,6],
   [7,8,9],
   ]
for j in range(len(l)):
    for i in l[j]:
        print(i**3,end=" ")
    print()

1 8 27
64 125 216
343 512 729

In [19]:
##find index
l1 =["coding","blocks","indira","nagar"]
for idx,val in enumerate(l1):
    print(idx,val)

0 coding
1 blocks
2 indira
3 nagar

In [2]:
l = [2,4,6,8,11,12,75,10,23]
l=list(filter(lambda x: x%2!=0,l))
print(l)

[11, 75, 23]

In [3]:
l = [2,4,6,8,11,12,75,10,23]
l=list(map(lambda x: x%2!=0,l))
print(l)

[False, False, False, False, True, False, True, False, True]

In [11]:
##LCM

def calculate_lcm(x,y):
    if x>y:
        greater = x
    else:
        greater = y
    while(True):
        if((greater%x==0)and(greater%y==0)):
            lcm = greater
            break
        greater+=1
    return lcm
n1=int(input("enter no"))
n2=int(input("enter second no"))

print("The lcm of",n1,"and",n2,"is",calculate_lcm(n1,n2))

enter no 5
enter second no 7

The lcm of 5 and 7 is 35

In [1]:
a=5//2
print(a)

2

In [7]:
p = input()
l=len(p)>=8
c,s,d=False,False,False
##capital letter ascii 65-90
##small letter ascii 97-122
## digit asciii 48-57
for i in p:
    if(ord(i)>=65 and ord(i)<=90):
        c=True
    elif(ord(i)>=97 and ord(i)<=122):
        s=True
    elif(ord(i)>=48 and ord(i)<=57):
        d=True
if(l and c and s and d):
    print("valid password")
else:
    print("not valid password")

 Kaif@123

valid password

In [8]:
##square pattern
for i in range(0,5):
    for j in range(0,5):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [11]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [27]:
n = 5
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

#

In [6]:
l = [9,2,"coding","blocks",5,6]
list(map(type,l)).count(str)

2

In [2]:
###dict 2nd class
fr= {"banana":10,
    "apple":15,
    "orange":20}
print(fr.get("orange"))
# print(fr["orang"],)
print(fr)
# total_fr=0
# for i in fr:
#     # print(i,fr[i])
#     total_fr+= fr[i]
# print(total_fr)

20
{'banana': 10, 'apple': 15, 'orange': 20}

In [3]:
fr= {"banana":10,
    "apple":15,
    "orange":20}
key = list(fr.keys())
print(key)

['banana', 'apple', 'orange']

In [5]:
fr= {"banana":10,
    "apple":15,
    "orange":20}
value = list(fr.values())
print(value)
sum=0
for i in value:
    sum+=i
print(sum)

[10, 15, 20]
45

In [7]:
fr ={"banana":10,
     "mango":15,
     "orange":20}
items = list(fr.items())
print(items)

[('banana', 10), ('mango', 15), ('orange', 20)]

In [6]:
data={
      "fr":{"banana":10,
            "mango":15,
            "orange":20},

   "veg":{"potato":15,
          "tomato":25,
          "carrot":30}
}
print(data.get("veg").get("tomato"))
print(data["veg"]["tomato"])

25
25

In [7]:
for key,value in data.items():
    print(key,value)
    for child_k,child_v in data[key].items():
        print(child_k,child_v)

fr {'banana': 10, 'mango': 15, 'orange': 20}
banana 10
mango 15
orange 20
veg {'potato': 15, 'tomato': 25, 'carrot': 30}
potato 15
tomato 25
carrot 30

In [ ]:
del data["veg"]
print(data)

In [8]:
fr= {"banana":10,
    "apple":15,
    "orange":20}
# adding new keys into dict
fr["grapes"]=5
print(fr.items())

key = list(fr.keys())
key.sort()
# print(key)
# creating new dict having sorted key
new_fr={}
for i in key:
    new_fr[i]= fr[i]
print(new_fr)

dict_items([('banana', 10), ('apple', 15), ('orange', 20), ('grapes', 5)])
{'apple': 15, 'banana': 10, 'grapes': 5, 'orange': 20}

In [15]:
fr ={"banana":10,
     "mango":15,
     "orange":20}
key = list(fr.keys())
key.sort()
print(key)
new_fr={}
for i in key:
    print(fr[i])
    new_fr[i]=fr[i]
print(new_fr)

['banana', 'mango', 'orange']
10
15
20
{'banana': 10, 'mango': 15, 'orange': 20}

In [18]:
from collections import OrderedDict
fr ={"banana":10,
     "mango":15,
     "orange":20}
orderdict=OrderedDict(sorted(fr.items()))
print(type(orderdict))
print(orderdict)

<class 'collections.OrderedDict'>
OrderedDict({'banana': 10, 'mango': 15, 'orange': 20})

In [19]:
#### Sets
s = {4,8,1,5,4,9,1}
print(s)

{1, 4, 5, 8, 9}

In [43]:
s = {4,8,1,5,4,9,1}
s.add(15)
print(s)

{1, 4, 5, 8, 9, 15}

In [10]:
s = {4,8,1,5,4,9,1}
#s.remove(12)
### discard benifit to not give error
s.discard(12)
print(s)

{1, 4, 5, 8, 9}

In [46]:
s = {4,8,1,5,4,9,1}
for i in s:
    print(i)

1
4
5
8
9

In [47]:
s = {4,8,1,5,4,9,1}
### check element is present
if(9 in s):
    print("present")
else:
    print("not present")

present

In [49]:
s = {4,8,1,5,4,9,1}
s.add((1,2,3))
print(s)

{1, 4, 5, 8, 9, (1, 2, 3)}

In [51]:
### insert multiple element 
s = {4,8,1,5,4,9,1}
s.update([13,20,30])
print(s)

{1, 4, 5, 20, 8, 9, 13, 30}

In [40]:
l = [5,7,11,1,5,11]
nl=[]
for i in l:
    if(l.count(i)==1):
        nl.append(i)
print(nl)

[7, 1]

In [59]:
### unique elements
l = [5,7,11,1,5,11]
s=set()
for i in l:
    if(i in s):
        s.remove(i)
    else:
        s.add(i)
print(s)

{1, 7}

In [63]:
##duplicate
l = [5,7,11,1,5,11]
s=set()
nl =[]
for i in l:
    if(i in s):
        nl.append(i)
    else:
        s.add(i)
print(nl)

[5, 11]

In [66]:
fr=["banana","carrot","tomato","apple"]
veg=["carrot","tomato","bringle"]
s1=set(fr)
s2=set(veg)
print(s1&s2)#intersection of two set
print(s1|s2) ## union of two set
print(s1^s2)## exclude item that present in both
print(s1-s2) ## subtraction of s2 from s1
print(s2-s1)

{'carrot', 'tomato'}
{'bringle', 'banana', 'apple', 'carrot', 'tomato'}
{'banana', 'apple', 'bringle'}
{'apple', 'banana'}
{'bringle'}

In [3]:
def my_fun(n):
    return n%2==0
ls=[11,19,15,12]
en = list(filter(my_fun, ls))
print(en)

[12]

In [4]:
ls=[11,19,15,12]
en = list(filter(lambda n: n%2==0, ls))
print(en)

[12]

In [7]:
###filter function
ls=[("ram",19),("shyam",21),("rohan",16),("sohan",25)]
ev = list(filter(lambda t: t[1]%2==0,ls))
print(ev)

[('rohan', 16)]

In [8]:
### index function
ls=[("ram",19),("shyam",21),("rohan",16),("sohan",25)]
for idx,val in enumerate(ls):
    print(idx,val)

0 ('ram', 19)
1 ('shyam', 21)
2 ('rohan', 16)
3 ('sohan', 25)

In [9]:
### zip function
name=["shyam","ram","rohan","sohan","sita"]
age=[19,21,30,24,16]
data={}
for nam,ag in zip(name,age):
    print(nam,ag)
    data[nam]=ag
print(data)

shyam 19
ram 21
rohan 30
sohan 24
sita 16
{'shyam': 19, 'ram': 21, 'rohan': 30, 'sohan': 24, 'sita': 16}

In [16]:
### 2 d list revision
mat=[[1,2,3],
    [5,7,9],
    [11,15,17,12]]
for i in mat:
    for j in i:
        print(j,end=" ")
    print()

1 2 3
5 7 9
11 15 17 12

In [18]:
l = [5,6,8,9]
s=l
m=l[:]
print(m)

[5, 6, 8, 9]

In [2]:
### find size of touple
import sys 
t1 = (5,2,8,9,12,45,12,30,45)
t2 = ("kaif","ganesh","arvind")
print("size of t1 :" + str(sys.getsizeof(t1)) + "bytes")
print("size of t2 :" + str(sys.getsizeof(t2)) + "bytes")

size of t1 :112bytes
size of t2 :64bytes

In [21]:
##find qube with element
l = [2,5,6]
q = list(map(lambda x: (i,i**3),l))
print(q)

[(6, 216), (6, 216), (6, 216)]

In [4]:
a = 2**3
print(a)

8

In [30]:
t=(5,8,9,5)
l = list(t)
s = 0
for i in l :
   s+=i
print(count)

27

In [37]:
##sorted dict by keys
mydict = {'r': 10, 'v': 9,
        's': 15, 'a': 2, 'j': 32}
mykeys = list(mydict.keys())
mykeys.sort()
sortedlist = {i: mydict[i] for i in mykeys}
print(sortedlist)

{'a': 2, 'j': 32, 'r': 10, 's': 15, 'v': 9}

In [38]:
## zip function
a= (4,2,6)
b=(8,9,7)
s = list(zip(a,b))
print(s)

[(4, 8), (2, 9), (6, 7)]

In [50]:
## lambda function
l = [2,85,62,12,4,8,5,9,6,7]
largest = list(filter(lambda i: i>10,l))
print(largest)

[85, 62, 12]

In [16]:
s = "code practice quiz geeks"
ns=""
# for st in s.split():
#     print(st)
#     ns+=st[-1::-1]+" "
# print(ns)
" ".join(list(map(lambda st:st[-1::-1],s.split())))

'edoc ecitcarp ziuq skeeg'

###oops

In [18]:
 class car():
     wheel=4
     window=5
     def milage(self):
         print("avg is 20/kmhr")
suzuki =car()
suzuki.milage()

avg is 20/kmhr

In [21]:
 class car():
     wheel=4
     window=5
     def milage(self,n):
         print("avg is {0}" .format(n))
suzuki =car()
suzuki.milage(20)
tyota = car()
tyota.milage(15)

avg is 20
avg is 15

In [22]:
 class car():
     wheel=4
     window=5
     def milage(self,n,unit):
         print("avg is {0} {1}" .format(n,unit))
suzuki =car()
suzuki.milage(20,"km/h")
tyota = car()
tyota.milage(15,"miles/h")

avg is 20 km/h
avg is 15 miles/h

In [25]:
class car():
     wheel=4
     window=5
     def __init__(self,model):
         self.model = model
     def milage(self,n,unit):
         print("avg of {2} is {0} {1}" .format(n,unit,self.model))
suzuki =car("maruti800")
suzuki.milage(20,"km/h")
tyota = car("corolla")
tyota.milage(15,"miles/h")

avg of maruti800 is 20 km/h
avg of corolla is 15 miles/h

In [28]:
## class instance variable
class car():
     wheel=4
     window=5
     def __init__(self,model="none"):
         self.model = model
     def milage(self,n,unit):
         print("avg of {2} is {0} {1}" .format(n,unit,self.model))
suzuki =car("maruti800")
suzuki.milage(20,"km/h")
tyota = car("corolla")
tyota.milage(15,"miles")

car.wheel ### throug class name is called class instance variable

avg of maruti800 is 20 km/h
avg of corolla is 15 miles

4

In [30]:
## object instance variable
class car():
     wheel=4
     window=5
     def __init__(self,model):
         self.model = model
     def milage(self,n,unit):
         print("avg of {2} is {0} {1}" .format(n,unit,self.model))
suzuki =car("maruti800")
suzuki.milage(20,"km/h")
tyota = car("corolla")

suzuki.wheel ### through object is called object instance variable

avg of maruti800 is 20 km/h

4

In [35]:
### class and static method
class car():
     wheel=4
     window=5
     def __init__(self,model):
         self.model = model
     def milage(self,n,unit):
         print("avg of {2} is {0} {1}" .format(n,unit,self.model))
     @staticmethod
     def topspeed():
        print("220km/h")
suzuki =car("maruti800")
suzuki.milage(20,"km/h")
tyota = car("corolla")

suzuki.wheel
car.topspeed() ## static method
suzuki.topspeed() ### static method

avg of maruti800 is 20 km/h
220km/h
220km/h

In [ ]:
#### piller of oops
1. inheritance
2. polymorphism
3. encapsulation
4. abstraction

In [ ]:
#### inheritance

In [36]:
## singe inheritance

class car():
     wheel=4
     window=5
     def __init__(self,model):
         self.model = model
     def milage(self,n,unit):
         print("avg of {2} is {0} {1}" .format(n,unit,self.model))
     @staticmethod
     def topspeed():
        print("220km/h")

### inheritance use old class
class toyota(car):
    def __init__(self,model,issunroof):
        self.sunroof=issunroof
        car.__init__(self,model)
fortuner = toyota("fortuner",True)
fortuner.milage(22,"km")

avg of fortuner is 22 km

In [41]:
## multi level inhertance

class laptop():
    ram=8
    rom=512
    screen=16
    def __init__(self):
        pass

class Dell(laptop):
    color = "grey"
    def __init__(self):
        laptop.__init__(self)
class Latitude(Dell):
    processor = "i5"
    def __init__(self):
        Dell.__init__(self)
# dell = DELL()
# dell.color
l=Latitude()
l.processor

'i5'

In [1]:
### MULTIPLE INHERITANCE

class laptop():
    ram=8
    rom=512
    screen=16
    def __init__(self):
        pass

class Desktop():
    ram = 8
    rom = 512
    printer = True
    

class Dell(laptop,Desktop):
    color = "grey"
    def __init__(self):
        laptop.__init__(self)
        Desktop.__init__(self)
d=Dell
d.screen

16

In [10]:
###  multiple level

class addition():
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
class subtraction():
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def sub(self):
        return self.a-self.b
class multilipication():
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def mul(self):
        return self.a*self.b*self*c
class math(addition,subtraction,multilipication):
    def __init__(self):
        addition.__init__(self,a,b)
        subtraction.__init__(self,a,b)
        multiplication.__init__(selfa,b,c)
M=math()
m.addition(5,6)

NameError: name 'a' is not defined

In [10]:
###polymorphism
### overloading
class multiply():
    def __init__(self,a,b,c=1):
        self.a=a
        self.b=b
        self.c=c
    def mul(self):
        return self.a*self.b*self.c
m=multiply(4,2)
m.mul()

8

In [12]:
###overriding 
class multiply():
    def __init__(self,a,b,c=1):
        self.a=a
        self.b=b
        self.c=c
    def mul(self):
        return self.a*self.b*self.c

class math(multiply):
    def __init__(self,a,b,c=1):
     multiply.__init__(self,a,b,c)
    def mul(self):
        print("multiplyin 3 no",self.a*self.b*self.c)
m=math(4,2,8)
m.mul()

multiplyin 3 no 64

In [ ]:
### encapsulation

In [ ]:
class Person():
    def __init__(self,account_no,ifsc):
        self.__account_no = account_no
        self._ifsc= ifsc
    def getAccount(self):
        return self.__account_no
    def setAccount(self,account_no):
        self.__account_no = account_no
class Bank(Person):
    def __init__(self,account_no,ifsc):
        Person.__init__(self,account_no,ifsc)
    def getPersonAccount(self):
        return self.__account_no
p1 = Person(1234,"SBI")
p1.setAccount(12345)
# # p1.getAccount()
# b1= Bank(1234,"SBI")
# b1.getPersonAccount()

In [ ]:
###Abstraction

In [19]:
###abstract class

from abc import ABC, abstractmethod
class Multiply(ABC):
    @abstractmethod
    def mul(self):
        pass
class Math(Multiply):
    def __init__(self,a,b):
      self.a=a
      self.b=b
    def mul(self):
        print("multipication of 2 no ", self.a*self.b)

m=Math(5,6)
m.mul()

multipication of 2 no  30

In [ ]:
###Exercise

##vehicle claaa
from abc import ABC, abstractmethod
class vehicle(ABC):

 ###Try and except

In [5]:
try:
    a=int(input("enter no"))
    b=int(input("enter no"))
    c=a/b
    print(c)
except ZeroDivisionError:
    print("you have entered denominator as zero")
except ValueError:
    print("you are cnverting text into int")
except Exception:
    print("there is something wrong that i'm unable to find")
finally:
    print("succesfully code completed")

enter no 5
enter no gh

you are cnverting text into int
succesfully code completed

In [8]:
try:
    d={"user":1234,"pass":"@123"}
    d["users"]
except KeyError:
    print("there is wwrong key")

there is wwrong key

In [7]:
try:
    a=int(input("enter no"))
    b=int(input("enter no"))
    c=a/b

except ZeroDivisionError:
    print("you have entered denominator as zero")
except ValueError:
    print("you are cnverting text into int")
except Exception:
    print("there is something wrong that i'm unable to find")
else:
    print(c)
finally:
    print("succesfully code completed")

enter no 5
enter no 6

0.8333333333333334
succesfully code completed

#### File Handling

In [9]:
with open("hello.txt","w") as file:
    file.write("try to file handling")

In [11]:
with open(r"C:\Users\lenovo\Desktop\file handling in python\kaif.txt","w") as file:
    file.write("i am mohd kaif")

In [13]:
with open(r"C:\Users\lenovo\Desktop\file handling in python\BIG DATA PPT.pptx","r",encoding utf=8) as file:
    print(file.read())

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3611377765.py, line 1)

### MODULE

In [14]:
import math
print(math.factorial(69))
print(math.sqrt(49))

171122452428141311372468338881272839092270544893520369393648040923257279754140647424000000000000000
7.0

In [16]:
from math import factorial
print(factorial(5))

120

In [17]:
from math import *
print(factorial(5))
print(sqrt(49))

120
7.0

In [18]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
### import date time

import datetime
help(datetime)

In [20]:
import datetime
print(datetime.date.today())

2024-03-18

In [21]:
import datetime
print(datetime.datetime.now())

2024-03-18 16:29:14.261378

In [24]:
import time 
print(time.localtime())

time.struct_time(tm_year=2024, tm_mon=3, tm_mday=18, tm_hour=16, tm_min=32, tm_sec=3, tm_wday=0, tm_yday=78, tm_isdst=1)

In [12]:
### age day
import datetme
t_day = datetime.date.today()
b_day = datetime.date(2003,11,6)
print(b_day-t_day)

ModuleNotFoundError: No module named 'datetme'

In [2]:
a = 5
b = 8
print(a*b)

40